<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EMailIds" value="C:\Users\smishra\Desktop\BSE_Index_Job\Mail.xml"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="wealtherp" connectionString="Server=VENUS\VENUS_SQLSERVER;Database=WealthERP_UAT;User Id=sa;Password=venus@123" providerName="System.Data.SqlClient" />-->
		<!--<add name="wealtherp" connectionString="Server=180.149.240.14;Database=WealthERP;User Id=sa;Password=Erp@123" providerName="System.Data.SqlClient" />-->
		<add name="wealtherp" connectionString="Server=103.180.120.48;Database=Wealtherp_Testing;User Id=sa;Password=Cuat@123" providerName="System.Data.SqlClient"/>

		<!--<add name="wealtherp" connectionString="Server=192.168.0.2\SQLEARTH;Database=Wealtherp-Testing;User Id=Ea;Password=Earth@123" providerName="System.Data.SqlClient"/>-->
		<!--<add name="wealtherp" connectionString="Server=180.149.240.14;Database=wealtherp16dec2020;User Id=sa;Password=Erp@123" providerName="System.Data.SqlClient"/>-->

	</connectionStrings>
</configuration>